{% extends "base.html" %}
{% block title %}Reset password · The Meat Ensemble{% endblock %}

{% block content %}
  <h1>Set a new password</h1>
  <form method="post" class="stack">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    <label>
      New password
      <input type="password" name="password" required
             minlength="10" maxlength="256" autocomplete="new-password">
    </label>
    <label>
      Confirm new password
      <input type="password" name="confirm_password" required
             minlength="10" maxlength="256" autocomplete="new-password">
    </label>
    <div>
      <button type="submit">Set password</button>
    </div>
  </form>
{% endblock %}
